<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Recipes, Cooking, Zero waste, Sustainable, Green living">
  <meta name="description" content="Zero waste cooking recipes">
  <meta name="author" content="Hi five">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> </title>
</head>

<body>
<footer th:fragment="standard-footer">
  <link href="/styles/footer.css" rel="stylesheet">

  <div class="entire-footer">
    <div class="social-icons-container">
      <ul class="social-icons">
        <li><a href="https://www.facebook.com"><img src="/images/facebook-icon.png" width="30x" height="30px" alt="Facebook"></a></li>
        <li><a href="https://www.youtube.com"><img src="/images/youtube-icon.svg" width="30" height="30" alt="Youtube"></a></li>
        <li><a href="https://www.instagram.com"><img src="/images/insta-icon.png" width="30px" height="30px" alt="Instagram"></a></li>
      </ul>
    </div>
    <div class="footer-content">
      <p>&#169; Fridge Circle 2023 All rights reserved</p>
    </div>
  </div>

</footer>
</body>

