<header th:fragment="standard-header">

  <link href="/styles/header.css" rel="stylesheet">
  <div class="header_section">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-left">
          <form class="logoImage">
            <a href="/index"><img src="/images/logo/logo-boldletters-transp.png" width="256" height="39" alt="fridge-circle-logo" /></a>
          </form>
        </div>
        <div class="navbar">
          <ul class="navbar-list">
            <li class="nav-item"><a class="nav-link" href="/index">Home <span class="sr-only"></span></a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/recipes">Recipes</a></li>
            <li class="nav-item"><a class="nav-link" href="/thefridge">The Fridge</a></li>
          </ul>
        </div>
        <div class="searchButton">
          <form>
            <input type="text" name="searchNavBar" placeholder="Search..">
          </form>
        </div>

      </nav>
    </div>
  </div>



</header>


<!--
<div>
  <img class="" src="images/logo.png" alt="logo"/>
  <h1 class="">Chat App</h1>
</div>
-->
