<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Recipes, Cooking, Zero waste, Sustainable, Green living">
    <meta name="description" content="Zero waste cooking recipes">
    <meta name="author" content="Hi five">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About | Fridge Circle</title>
    <link href="/styles/about.css" rel="stylesheet">

</head>
<body>
<div class="NOTSUREYET">
    <div class="header_section">
        <div class="container">
            <nav class="navbar">
                <div class="navbar-left">
                    <form class="image-upload-form">
                        <input type="file" id="image-upload" name="image-upload">
                        <label for="image-upload"><img src="" alt="there-will-be-a-logo"></label>
                    </form>
                </div>
                <div class="navbar-right">
                    <ul class="navbar-list">
                        <li class="nav-item"><a class="nav-link" href="index.html">Home <span class="sr-only"></span></a></li>
                        <li class="nav-item active"><a class="nav-link" href="about.html">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="recipes.html">Recipes</a></li>
                        <li class="nav-item"><a class="nav-link" href="thefridge.html">The Fridge</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="container">

        <div class="text-section">
            <h2>About Fridge Circle</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel metus in felis gravida fringilla. Aenean eu elit metus. Nunc consectetur sodales massa vel volutpat. Nullam rutrum risus non massa fermentum rutrum. Sed auctor risus vel lectus semper, in lobortis nisl sagittis. Phasellus eget consectetur metus.</p>
        </div>
        <div class="image-section">
            <img src="image.jpg" alt="About-fridge-circle">
        </div>
    </div>
</div>
</body>
</html>