<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe creation page</title>

    <link href="/styles/createRecipe.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">

</head>
<body>
<header th:replace="~{fragments/header :: standard-header}"></header>
<!-- we can provide data to fragment-->
<h3 class="margin-top">Recipe creation page</h3>
<div th:if="${param.status}">
    <div th:switch="${param.status}">
        <p th:case="'success'" class="success-message" th:text="${param.message}"></p>
        <p th:case="'error'" class="error-message" th:text="${param.message}"></p>
    </div>
</div>

<form th:object="${recipe}" method="post" action="/createrecipe">
    <div class="p-2">
        <label>Enter recipe name</label>
        <input class="inputBox" name="name" type="text">
    </div>
    <div class="p-2">
        <label>Difficulty</label>
        <select class="difficultyBox" name="difficultyLevel">
            <option value="">Select level</option>
            <option value="EASY">EASY</option>
            <option value="MODERATE">MODERATE</option>
            <option value="DIFFICULT">DIFFICULT</option>
        </select>
    </div>
    <div class="p-2">
        <label>Enter rating</label>
        <div class="star-rating">
            <input type="radio" id="star1" name="rating" value="1">
            <label for="star1"></label>
            <input type="radio" id="star2" name="rating" value="2">
            <label for="star2"></label>
            <input type="radio" id="star3" name="rating" value="3">
            <label for="star3"></label>
            <input type="radio" id="star4" name="rating" value="4">
            <label for="star4"></label>
            <input type="radio" id="star5" name="rating" value="5">
            <label for="star5"></label>
        </div>
    </div>
    <div class="p-2">
        <label>Enter cooking time</label>
        <input class="inputBox" name="cookingTime" type="text">
    </div>
    <div class="p-2">
        <label>Enter portions</label>
        <input class="inputBox" name="portionSize" type="text">
    </div>
    <div class="p-2">
        <label>Enter ingredient</label>
        <input class="inputBox" name="ingredient" type="text">
        <button class="add-ingredient-button" type="button" onclick="addIngredient()">+</button>
    </div>

    <script>
        function addIngredient() {
            const ingredientDiv = document.createElement('div');
            ingredientDiv.classList.add('p-2');


            const ingredient = document.createElement('input');
            ingredient.classList.add('inputBox');
            ingredient.name = 'ingredient';
            ingredient.type = 'text';

            ingredientDiv.appendChild(ingredient);

            const button = document.querySelector('.add-ingredient-button');
            button.parentNode.insertBefore(ingredientDiv, button);
        }
    </script>



    <div class="p-2">
    <label>Enter ingredient quantity</label>

        <input class="inputBox" name="quantity" type="text">
        <button class="add-quantity-button" type="button" onclick="addQuantity()">+</button>
    </div>
    <script>
        function addQuantity() {
            const quantityDiv = document.createElement('div');
            quantityDiv.classList.add('p-2');

            const quantity = document.createElement('input');
            quantity.classList.add('inputBox');
            quantity.name = 'quantity';
            quantity.type = 'text';

            quantityDiv.appendChild(quantity);

            const button = document.querySelector('.add-quantity-button');
            button.parentNode.insertBefore(quantityDiv, button);
        }
    </script>

    <div class="p-2">
        <label>Unit</label>
        <select class="unit-select" name="unit">
            <option value="">Select unit</option>
            <option value="GRAMS">GRAMS</option>
            <option value="KILOGRAMS">KILOGRAMS</option>
            <option value="LITTER">LITTER</option>
            <option value="MILLILITER">MILLILITER</option>
            <option value="TABLESPOON">TABLESPOON</option>
            <option value="TEASPOON">TEASPOON</option>
            <option value="CUP">CUP</option>
            <option value="OUNCE">OUNCE</option>
            <option value="POUND">POUND</option>
            <option value="PIECE">PIECE</option>
        </select>
    </div>

    <div class="p-2">
        <label>Enter cooking steps</label>
        <textarea class="inputBox" id="cookingSteps" name="cookingSteps" rows="2" cols="30"></textarea>
    </div>
    <div class="p-2">
        <label>Enter creator</label>
        <input class="inputBox" name="creator" type="text">
    </div>
    <div class="p-2">
        <label>Tags</label>
        <select class="select-tag" name="tag" type="text">
            <option value="">Select tag</option>
            <option value="BREAKFAST">Breakfast</option>
            <option value="LUNCH">Lunch</option>
            <option value="DINNER">Dinner</option>
            <option value="DESSERT">Dessert</option>
            <option value="SNACK">Snack</option>
            <option value="SAUCE">Sauce</option>
            <option value="SIDE_DISH">Side dish</option>
            <option value="APPETISER">Appetiser</option>
        </select>
    </div>
    <div class="p-2">
        <label>Enter picture URL</label>
        <input class="inputBox" name="pictureUrl" type="url">
    </div>
    <div class="p-2">
        <label>Upload a picture</label>
        <input class="inputBox" name="picture" type="file">
    </div>

    <button class="button" type="submit">Create</button>
    <button class="button" type="reset">Clear</button>
</form>
<footer th:replace="~{fragments/footer :: standard-footer}"></footer>
</body>
</html>