<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe creation page</title>

    <link href="/styles/createRecipe.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">

</head>
<body>
<header th:replace="~{fragments/header :: standard-header}"></header>

<h3 class="margin-top">Recipe creation page</h3>
<form method="post" action="/recipe">
    <div class="p-2">
        <label>Enter recipe name</label>
        <input class="inputBox" name="name" type="text" required>
    </div>
    <div class="p-2">
        <label>Enter difficulty level</label>
        <input class="inputBox" name="difficultyLevel" type="text">
    </div>
    <div class="p-2">
        <label>Enter rating</label>
        <div class="star-rating">
            <input type="radio" id="star1" name="rating" value="1">
            <label for="star1"></label>
            <input type="radio" id="star2" name="rating" value="2">
            <label for="star2"></label>
            <input type="radio" id="star3" name="rating" value="3">
            <label for="star3"></label>
            <input type="radio" id="star4" name="rating" value="4">
            <label for="star4"></label>
            <input type="radio" id="star5" name="rating" value="5">
            <label for="star5"></label>
        </div>
    </div>
    <div class="p-2">
        <label>Enter cooking time</label>
        <input class="inputBox" name="cookingTime" type="text" required>
    </div>
    <div class="p-2">
        <label>Enter portions</label>
        <input class="inputBox" name="portionSize" type="text" required>
    </div>
    <div class="p-2">
        <label>Enter ingredient</label>
        <input class="inputBox" name="ingredient" type="text" required>
    </div>
    <div class="p-2">
        <label>Enter quantity</label>
        <input class="inputBox" name="quantity" type="text" required>
    </div>
    <div class="p-2">
        <label>Enter unit</label>
        <input class="inputBox" name="unit" type="text" required>
    </div>
    <div class="p-2">
        <label>Enter cooking steps</label>
        <input class="inputBox" name="cookingSteps" type="textarea" required>
    </div>
    <div class="p-2">
        <label>Enter creator</label>
        <input class="inputBox" name="creator" type="text">
    </div>
    <div class="p-2">
        <label>Enter tag</label>
        <input class="inputBox" name="tag" type="text">
    </div>
    <button class="button" type="submit">Create</button>
    <button class="button" type="reset">Clear</button>
</form>
<footer th:replace="~{fragments/footer :: standard-footer}"></footer>
</body>
</html>