<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Recipes, Cooking, Zero waste, Sustainable, Green living">
  <meta name="description" content="Zero waste cooking recipes">
  <meta name="author" content="Hi five">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Fridge Circle</title>
  <link href="/styles/index.css" rel="stylesheet">
  <link href="/styles/main.css" rel="stylesheet">
</head>
<body class="body">
<header th:replace="~{fragments/header :: standard-header}"></header>

<section class="hero">
  <div class="containerHero">
    <h1>Welcome to Fridge Circle!</h1>
    <p>Discover delicious recipes for zero waste cooking</p>
    <a href="/recipes" class="btn">Explore Recipes</a>
  </div>
</section>


<section class="main-home">
  <div class="recipe-suggestions flex">

    <article class="text-center">
      <a href="/hashbrowns">
        <div class="home-recipe-image">
          <a href="/hashbrowns" class="title-link">Hash browns</a>
          <img src="/images/recipe-images/hashbrowns.jpg" alt="hashbrowns" width="300" height="210">
          <span class="image-tag" onclick="window.location.href='/breakfast-tag'">Breakfast</span>
        </div>
      </a>
    </article>

    <article class="text-center">
      <a href="/croutons">
        <div class="home-recipe-image">
          <a href="/croutons" class="title-link">Classic croutons</a>
          <img src="/images/recipe-images/croutons.jpg" alt="croutons" width="300" height="210">
          <span class="image-tag" onclick="window.location.href='/snack-tag'">Snack</span>
        </div>
      </a>
    </article>

    <article class="text-center">
      <a href="/ratatoille">
        <div class="home-recipe-image">
          <a href="/ratatoille" class="title-link">Ratatoille</a>
          <img src="/images/recipe-images/ratatoi.jpg" alt="ratatoille" width="300" height="210">
          <span class="image-tag" onclick="window.location.href='/dinner-tag'">Dinner</span>
        </div>
      </a>
    </article>

    <article class="text-center">
      <a href="/bananabread">
        <div class="home-recipe-image">
          <a href="/bananabread" class="title-link">Banana bread</a>
          <img src="/images/recipe-images/bananabread.jpg" alt="bananabread" width="300" height="210">
          <span class="image-tag" onclick="window.location.href='/dessert-tag'">Dessert</span>
        </div>
      </a>
    </article>

  </div>
</section>

<footer th:replace="~{fragments/footer :: standard-footer}"></footer>
</body>
</html>
