<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Recipes, Cooking, Zero waste, Sustainable, Green living">
    <meta name="description" content="Zero waste cooking recipes">
    <meta name="author" content="Hi five">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link href="/styles/index.css" rel="stylesheet">
    <link href="/styles/login.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments/header :: standard-header}"></header>
<main class="loginMain">
    <h3 class="margin-top">Sign in to your Fridge Circle account</h3>
    <form method="post" action="/login">
        <div>
            <input type="text" name="username" placeholder="Username" required>

            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div>
            <button class="button" type="submit">Login</button>
            <button class="button" type="reset">Clear</button>
        </div>
    </form>
    <br>
    <p>Or register a new account</p>
    <a href="/register" class="registerBtn">Register</a>


</main>



</body>
</html>