<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Recipes, Cooking, Zero waste, Sustainable, Green living">
    <meta name="description" content="Zero waste cooking recipes">
    <meta name="author" content="Hi five">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Recipes | Fridge Circle</title>
    <link href="/styles/recipes.css" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments/header :: standard-header}"></header>

<div class="mainRecipes">
    <button class="button darkmagenta-theme" type="submit"><a href="/recipe">Create recipe</a></button>
</div>

</body>
</html>

