<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe creation page</title>
    <link href="/styles/createRecipe.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">


</head>
<body>
<header th:replace="~{fragments/header :: standard-header}"></header>


<section class="entire-recipe">


<div class="recipe-list">

    <ul>
        <h3 th:text="${recipe.name}"></h3>
        <p>Difficulty Level: <span th:text="${recipe.difficultyLevel}"></span></p>
        <p>Rating: <span th:text="${recipe.rating}"></span></p>
        <p>Cooking Time: <span th:text="${recipe.cookingTime}"></span> minutes</p>
        <p>Portion Size: <span th:text="${recipe.portionSize}"></span></p>
        <p>Cooking Steps: <span th:text="${recipe.cookingSteps}"></span></p>
        <p>Ingredients:</p>
        <ul>
            <li th:each="ingredient : ${recipe.ingredientList}">
                <span th:text="${ingredient.quantity}"></span>
                <span th:text="${ingredient.unit}"></span>
                <span th:text="${ingredient.ingredient.name}"></span>
            </li>
        </ul>
        <p>Created By: <span th:text="${recipe.creatorId}"></span></p>
        <img th:src="${recipe.getUrl()}" th:alt="${recipe.getFileName()}" height="120px" />
    </ul>
</div>
<a class="recipe-options" th:href="${'/recipes'}"> Back to all recipes</a>
<a class="recipe-options" th:href="${'/images/new/'+recipe.getId()}">Upload image</a>
<a class="recipe-options" th:href="${'/updaterecipe/'+recipe.getId()}">Update</a>
<a class="recipe-options" th:href="${'/deleterecipe/'+recipe.getId()}">Delete</a>
</section>

<footer th:replace="~{fragments/footer :: standard-footer}"></footer>
</body>
</html>