<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Recipes, Cooking, Zero waste, Sustainable, Green living">
    <meta name="description" content="Zero waste cooking recipes">
    <meta name="author" content="Hi five">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Recipes | Fridge Circle</title>
    <link href="/styles/recipes.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments/header :: standard-header}"></header>
<section class="main-recipes">
    <div class="heroRecipes">
        <p>We have listed all recipes by meal categories - breakfast, lunch, dinner, snack or dessert.
        Have a look around, we are sure you will find something nice :)</p>


    </div>
    <!-- lists all recipes by category-->

    <div class="">
        <button class="button darkmagenta-theme" type="submit"><a href="/createrecipe">Create recipe</a></button>
    </div>
</section>


<footer th:replace="~{fragments/footer :: standard-footer}"></footer>
</body>
</html>

