<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Recipes, Cooking, Zero waste, Sustainable, Green living">
    <meta name="description" content="Zero waste cooking recipes">
    <meta name="author" content="Hi five">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Fridge Circle</title>
    <link href="/styles/register.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">
</head>

<body>
<header th:replace="~{fragments/header :: standard-header}"></header>

<div class="entire-register">
    <div class="form-wrapper">
        <form class="main">

            <input type="text" name="username" placeholder="Username" required>

            <input type="email" name="email" placeholder="Email Address" required>

            <input type="password" name="pass1" placeholder="Password" required>

            <input type="password" name="pass2" placeholder="Confirm Password" required>

            <div class="terms-wrapper">
                <input type="checkbox" name="termsAccepted" value="yes">
                <label for="termsAccepted">I agree to the Terms & Conditions</label>
                <div class="dialog-box">Please read and accept the Terms & Conditions</div>
            </div>

            <input type="submit" value="Register">
        </form>

        <!-- NEEDS REGISTER CONFIRMATION -->

    </div>
</div>

<footer th:replace="~{fragments/footer :: standard-footer}"></footer>
</body>
</html>

