<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Recipes, Cooking, Zero waste, Sustainable, Green living">
    <meta name="description" content="Zero waste cooking recipes">
    <meta name="author" content="Hi five">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>The Fridge | Fridge Circle</title>
    <link href="/styles/fridge.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">

</head>
<body>
<header th:replace="~{fragments/header :: standard-header}"></header>

<div class="mainFridge">

</div>

<footer th:replace="~{fragments/footer :: standard-footer}"></footer>
</body>
</html>