<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recipe creation page</title>

  <link href="/styles/createRecipe.css" rel="stylesheet">
  <link href="/styles/main.css" rel="stylesheet">

</head>
<body>
<header th:replace="~{fragments/header :: standard-header}"></header>

<h3 class="margin-top">Recipe update page</h3>
<form method="post" th:action="${'updateRecipe/'+recipe.getId()}">
  <div class="recipe-list">
    <h2>Recipe</h2>
    <ul>
      <h3 th:text="${recipe.name}"></h3>
      <p>Difficulty Level: <textarea th:text="${recipe.difficultyLevel}"></textarea></p>
      <p>Rating: <textarea th:text="${recipe.rating}"></textarea></p>
      <p>Cooking Time: <textarea th:text="${recipe.cookingTime}"></textarea> minutes</p>
      <p>Portion Size: <textarea th:text="${recipe.portionSize}"></textarea></p>
      <p>Cooking Steps: <textarea th:text="${recipe.cookingSteps}"></textarea></p>
      <p>Ingredients:</p>
      <ul>
        <li th:each="ingredient : ${recipe.ingredientList}">
          <span th:text="${ingredient.quantity}"></span>
          <span th:text="${ingredient.unit}"></span>
          <span th:text="${ingredient.ingredient.name}"></span>
        </li>
      </ul>
      <p>Created By: <span th:text="${recipe.creatorId}"></span></p>
    </ul>
  </div>
  <a th:href="${'/recipes'}"> Back to all recipes</a>
  <button class="button" type="submit" th:href="${'/updaterecipe/'+recipe.getId()}">Update</button>
<footer th:replace="~{fragments/footer :: standard-footer}"></footer>
</form>
</body>
</html>