.body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}
body {
    font-family: Circular-Regular,sans-serif;
    /*
    background-image: url('');
     */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);

}
.header_section {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: darkseagreen;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-left {
    display: flex;
    align-items: center;
}

.image-upload-form {
    margin-right: 10px;
}

.image-upload-form input[type="file"] {
    display: none;
}

.image-upload-form label {
    cursor: pointer;
}

.navbar-right {
    display: flex;
}


.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-list li {
    margin-left: 10px;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    padding: 10px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #555;
}

.active .nav-link {
    font-weight: bold;
}

/*
unique STUFF
 */

.image-section {
    text-align: center;
}

.image-section img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.text-section {
    text-align: justify;
}

.btn {
    background-color: #1a853f;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}
