.column {
    float: left;
    padding: 10px;
}


.column.text-section-about {
    /*width: 70%;*/
    text-align: left;
    margin: 5px 5px 5px 5px;
}


.exploreBtn {
    background-color: #1a853f;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}
