
.inputBox {
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
}
.difficultyBox {
    padding: 8px;
    font-size: 12px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
}

.difficultyBox:focus {
    outline: none;
    border-color: #6c757d;
}

.star-rating {
    display: inline-block;
    direction: rtl;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 30px;
    color: #ddd;
    cursor: pointer;
    display: inline-block;
    transform: scale(-1, 1);
    margin-right: 2px;
}

.star-rating label:before {
    content: '\2605';
    /*
    this is the star unicode number
     */
}

.star-rating input[type="radio"]:checked ~ label {
    color: #1a853f;
}

.button {
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    background-color: #1a853f;
    color: #ffffff;

}

.unit-select {
    padding: 8px;
    font-size: 12px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
}

.unit-select:focus {
    outline: none;
    border-color: #6c757d;
}

.select-tag {
    padding: 8px;
    font-size: 12px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
}

.add-ingredient-button {
    border-radius: 50px;
}

.recipe-list {
    margin-left: 50px;
    margin-right: 50px;
}

.recipe-options {
    background-color: #205B28;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    margin: 0 auto;
    max-width: 200px;
}

.recipe-options:hover {
    opacity: 0.7;
}

