body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}
body {
    font-family: Circular-Regular,sans-serif;
    /*
    background-image: url('');
     */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);

}
.header_section {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: darkseagreen;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}
.navbar-left {
    display: flex;
    align-items: center;
}

.logoImage {
    margin-left: auto;
}

.navbar {
    display: flex;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-list li {
    margin-left: 10px;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #555;
}

.active .nav-link {
    font-weight: bold;
}

.searchButton {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://en.wikipedia.org/wiki/File:Vector_search_icon.svg#/media/File:Vector_search_icon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

.searchButton [type=text]:focus {
    width: 100%;
}