/*
resetting default style */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}
body {
    font-family: Circular-Regular,sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.88 !important;
    margin: 20px 0 10px 0;
    color: #000;


}
.header_section {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: darkseagreen;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}

.container {
    max-width: 1200px;
}

.navbar {
    display: flex;
}

.navbar-list {
    display: flex;
    margin-right: auto;
    margin-left: 0;
    padding: 0;
    list-style-type: none;

}
.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
}


.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-list li {
    margin-left: 10px;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #555;
}
.containerHero {
    max-width: 1200px;
    align-content: center;
}

.hero {
    background-size: cover;
    background-position: center;
    color: black;
    padding: 100px 20px;
    text-align: center;
    align-content: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    align-content: center;
}


.hero p {
    font-size: 24px;
    margin-bottom: 40px;
    align-content: center;
}

.hero a {
    background-color: #1a853f;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    align-content: center;
}

