@import url('static/styles/header.css');

.loginMain{
    padding: 50px 20px;

}

.inputLogin {
    border-radius: 4px;
    text-decoration: none;
}

.buttonLogin {
    border-radius: 4px;
    text-decoration: none;
}

.loginMain {
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}

.registerBtn {
    background-color: #1a853f;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}